
.PreResult .allResult {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.05em;
  color: #44444493;
  margin-left: 5px;
  font-style: normal;
  font-weight: normal;
   
}

.PreResult .allResult .subResult {
  margin-top: 18px;
}

.PreResult .allResult .basHarf {
  width: 25px;
  height: 48px;
  left: 34px;
  top: 241px;
  font-family: Barlow;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.05em;
  color: #AAAAAA;
   
}

.PreResult .firstResult {
width: 81px;
height: 22px;
left: 35px;
top: 161px;

font-family: Barlow;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
/* identical to box height */

letter-spacing: -0.05em;

color: #444444;

}