
.PreResult .firstResult {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.05em;
  color: #44444493;
  margin-left: 5px;
  font-style: normal;
  font-weight: normal;
   
}

.PreResult .secondResult {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.05em;
  color: #444444;
  margin-top: 20px;
  margin-left: 5px;
  font-style: normal;
  font-weight: normal;  
}