.WeatherDetailValue {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.05em;
  color: #444444;
  margin-top: 12px;
  text-align: center;
  font-family: Barlow;
  font-style: normal;  
}