.WeatherDetailBlock {
  width: 95px;
  height: 90px;
  text-align: center;
}

.WeatherDetailBlock.hasShadow {
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  
}

.WeatherDetailBlock .detailIcon {
  padding: 10px 0 0 0;
}